@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@200;400;500;600&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: rgb(30, 30, 30);
}

.btn {
    background-color: rgb(108, 124, 131);
    margin-bottom: 5%;
}

h1,h2,h3 {
    color: rgb(0, 0, 0);
    font-family: "Bebas Neue", sans-serif;
    text-transform: uppercase;
    text-align: left;
    margin-left: 8.33%;
    font-size: 4em;
    line-height: 50px;
    margin-top: 10%;
}

h2 {
    font-size: 2em;
    margin: 0;
    margin-bottom: 5%;
}

h3 {
    margin: 0;
    margin-top: 5%;
    font-size: 3em;
    margin-bottom: 5%;

}

main p {
    color: rgb(0, 0, 0);
    font-family: "poppins";
    text-align: left;
    font-size: 1em;
    margin-bottom: 6%;

}

.rounded-bottom-right {
    border-bottom-right-radius: 40px;
}

.rounded-bottom-left {
    border-bottom-left-radius: 40px;
}
.row { height: 100%; }


footer {
    background-color: rgb(232, 232, 232);
    height: 20vh;

}



 @media(max-width:768px){

    section.container-fluid{
        height: auto;
    }

    body {
        font-size: 12px;
        }

} 
